*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  width: 100%;
}
.container{
    width: 80%;
    margin: auto;
}
header a{
    text-decoration: none;
    color:black
}
.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.header-nav{
    width: 80em;
    background-color:white;
    line-height: 100px;
}
.fixed{
    position: fixed;   
    width: 100%;
    top:0;
    left: 0;
    border-bottom: 1px solid black;
    z-index: 100;
}
.fixedspace{
    margin-top:110px;
}
p{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(56, 49, 49);
}
.nav-top-left .fas.fa-angle-down{
    padding-right: 20px;
    border-right: 2px solid gray;
}
.nav-top-left, .nav-top-right{
    font-size: 25px;
}
ul{
    list-style: none;
}
 li{
    display: inline-block;
}
.nav-top-left  a{
     text-decoration: none;
     color:rgb(43, 34, 34);
     padding-left:20px;
}
.nav-top-right a{
    margin-left: 20px;
}
.btn{
    text-decoration: none;
    border-radius: 5px;
    padding:  10px;
    color: white;
    
}
.btn-orange{
    background-color: rgb(245, 91, 45);
    padding:15px;
}
.btn-total-orange{
    color: orangered;
    border: 1px solid orangered;
}
.btn-large{
    padding: 40px 50px;
    font-size: 30px;
}
.header-nav.bottom{
    font-size: 25px;
    background-color: white;
    line-height: 100px;
}
.menu-right li{
    margin-left:30px;
}
.header-nav-bottom >.logo{
    margin-top:9px;
}
.jumbotron{
    height: 750px;
    background-color: #FFF2EE;
    background-image: url("../img/jumbotron.png");
    background-repeat: no-repeat;
    background-position: 100% 230%;
    box-shadow: inset 0 10px 8px rgba(0, 0, 0, 0.1);
}
.bordo{
    height: 80px;
   border: 3px solid #33475B;
   border-right:0;
   border-left:0;
   background-color: #AFEBE4;
}
.jumbotron-section{
    width: 750px;
    margin-top: 90px;
}
.jumbotron-section h1{
    font-size: 70px;
    line-height: 70px;
}
.jumbotron-section p{
    margin:20px;
    color: rgb(53, 49, 47);
    font-size: 25px;
    line-height: 40px;
    padding-bottom:50px;
}
.jumbotron-section h3{
    padding-top:80px ;
    color: rgb(53, 49, 47);
}
main{
    background-color:#F5F8FA;
}
.block-2{
    margin-top: 100px;
}
.block-1{
    text-align: center;
    line-height: 40px;
    padding-top: 40px;
}
.block-1 h1{
    font-size: 50px;
}
.block-1 p{
    font-size: 25px;
    padding-top:60px; 
}
.block-2{
    height: 550px;
    width: 100%;
    box-shadow: 0 0 10px rgba(49, 49, 49, 0.644);
    border-radius: 5px;
}
.block-left{
    position: relative;
}
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20;
}
.wrapper a{
    font-size: 25px;
    display: block;
}
.block-left img{
    width: 100%;
    display: block;
    padding-bottom:80px;
}
.block-left{
    width: 25%;
    height: 100%;
    text-align: center;
}
.block-2-right{
    width: 75%;
    height: 100%;
    padding: 100px 120px 100px 0px;
    text-align: left;
    line-height: 50px;
}

.block-2-right > h1{
    font-size: 40px;
    padding-bottom: 80px;
}
.block-2-right > p{
    font-size: 30px;
    padding-bottom:30px;
}
.block-2-right > h2{
    text-transform: uppercase;
    font-size: 35px;
    padding-bottom:40px;
}
.block-2-right > h2::after{
    content: "";
    float: right;
    width: 65%;
    margin-top: 25px;
    height: 5px;
    background-color: grey;
}
.block-2{
    background-color: white;
}
.fas.fa-check-circle{
    color: green;
}
.block-2-right li{
    font-size: 25px;
    padding-right: 30px;
}
.sezione-tre-blocchi{
    height: 1200px;
    margin-top: 120px ;
}
.col.center{
    margin: 0 5%;
}
.col{
    padding: 30px;
    width: 30%;
    box-shadow: 0 0 10px rgba(49, 49, 49, 0.644);
    border-radius: 5px;
}
.col .items-top{
    width: 100%;
    position: relative;
    margin-bottom:50% 
}
.col .items-top >img{
   width: 30%;
   position: absolute;
   top: 40px;
   left: 35%;
}
.col .items-middle{
    text-align: center;
    line-height: 40px;
}
.col .items-middle p{
    color: rgb(53, 49, 47);
    font-size: 25px;
    margin-bottom:20% ;
}
.col .items-middle h1{
    font-size: 40px;
    padding-bottom: 40px;
}
.col .items-middle::after{
    content: "";
    float: left;
    width: 100%;
    height: 3px;
    background-color: grey;
}
.col .items-bottom{
    text-align: center;
    padding-top: 15% ;
}
.col .items-bottom span{
    color: rgb(46, 44, 44);
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
.col .items-bottom ul{
    margin-top: 30px;
}
.col .items-bottom ul li i{
    padding-right: 20px;
}
.col .items-bottom ul li{
    font-size: 25px;
    text-align: left;
    display: block;
    padding-bottom: 5px;
    color: rgb(53, 49, 47);
}
.col .items-bottom a{
    font-size: 30px;
    margin-top:80px;
   display: inline-block;
}
.banner{    
    margin-top: 100px;
    width: 100%;
    background-color: #00B5AC;
    height: 1000px;
}
.banner .header-banner{
    text-align: center;
    padding-top: 100px;
    line-height: 90px;
}
.banner .header-banner h1{
    font-size: 80px;
    color:white;
    padding-bottom: 50px;
}
.banner .header-banner p{
    font-size: 40px;
    color: white;
}